#inputArea  {
	font-family: Verdana;
	font-size: 12px;
	background-color: #ede6dc;
	margin-top: 20px;
	margin-left: 70px;
	padding: 10px;
	width:400px;
}
#inputArea input, #inputArea textarea {
	font-family: Verdana;
	font-size: 12px;
	margin-bottom: 8px;
	display: block;
	padding: 8px;
	width: 380px;
    background-color: #c1b9ac;
}
