#menu_verh{
	margin: 0;
	padding: 0;
	float: left;
	font: bold 14px Verdana;
	width: 100%;
	border: 1px solid #625e00;
	border-width: 1px 0;
	background: black url(../images/blockdefault.gif) center center repeat-x;
}
#menu_verh ul {
	margin-left:80px;
}
#menu_verh ul li{
	display: inline;
}
#menu_verh ul li a{
	float: left;
	color: white;
	padding: 9px 11px;
	text-decoration: none;
	border-right: 1px solid white;
}
#menu_verh ul li a:visited{
	color: white;
}
#menu_verh ul  li a:hover {
	color: white;
	background: transparent url(../images/blockactive.gif) center center repeat-x;
	text-decoration: none;
}
#menu_verh ul li p{
	float: left;
	color: white;
	padding: 9px 11px;
	text-decoration: none;
	border-right: 1px solid white;
}
#menu_verh .selected p {
	color: white;
	background: transparent url(../images/blockactive.gif) center center repeat-x;
	text-decoration: none;
}
.menu { 
	margin-top:30px; 
	width:260px; 
	height: 100%; 
	background:rgba(0, 0, 0, 0.2); 
	border:3px solid #fea700; 
	border-radius:10px; 
	-moz-border-radius:10px; 
    -o-border-radius:10px; 
	-webkit-border-radius:10px; 
	-khtml-border-radius:10px; 	
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.8); 	
	-webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.8); 
	-moz-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.8); 
    -o-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.8); 		
	opacity:0.8; 
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"; 
	-moz-opacity:0.8; 
	-o-opacity:0.8; 
	-khtml-opacity:0.8;  
}
* html .menu {
	overflow: visible;
	width:200px;
}
.menu ul { 
    margin: 3px; 
	padding: 0; 
	list-style:none; 
	width: 260px; 
}
.menu ul li { 
    display:block; 
	overflow: hidden; 
	margin: 0; 
	padding: 0; 
	list-style:none; 
	height:40px; 
	width: 253px; 
	background-color:#ede6dc; 
	transition: height 0.5s ease-in-out; 
	-moz-transition: height 0.5s ease-in-out; 
	-webkit-transition: height 0.5s ease-in-out; 
	-o-transition: height 0.5s ease-in-out; 
}
* html .menu ul {
	overflow: visible;
	width: 255px; 
}
* html .menu ul li {
	overflow: visible;
	width: 255px; 
}
.menu ul li h3 { 
     display:block; 
	 margin: 0; 
	 padding:10px; 
	 height:25px; 
	 border-top:#f0f0f0 1px solid; 
	 font: bold 14px Verdana;
	 text-decoration:none; 
	 color: #422c01; 
	 background: #685f50; 
	 background: -moz-linear-gradient(top,#fea700,#c1b9ac); 
	 background: -o-linear-gradient(top,#fea700,#c1b9ac); 
	 background: -webkit-gradient(linear, left top, left bottom, from(#fea700), to(#c1b9ac)); 
	 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fea700, endColorstr=#c1b9ac);
	 -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#fea700, endColorstr=#c1b9ac)"; 
 }
 * html .menu ul li h3{
	overflow: visible;
}
 .menu ul li div {
	margin:0; 
	overflow: auto; 
	padding:10px; 
	height:220%; 
}
* html  .menu ul li {
	height: 100%;
}
* html  .menu  a{ 
	display:none; 
}
.menu ul li div a {
	display:block; 
	text-decoration:none; 
	text-align:center; 
	margin:2px; 
	padding:3px; 
	font: 12px Verdana;
	color: #422c01; 
	background: #c1b9ac; 
	text-shadow:-1px 1px 0px #ffffff; 
	transition:all 0.5s, 0.5s ease-in-out; 
	-webkit-transition:all 0.5s, 0.5s ease-in-out; 
	-moz-transition:all 0.5s, 0.5s ease-in-out; 
	-o-transition:all 0.5s, 0.5s ease-in-out; 
}
.menu ul li div a:hover { 
	overflow: auto;
	color:#FFF; 
	text-shadow:0px -1px 0px #fea700; 
	background:#fea700; transform:rotate(5deg); 
	-webkit-transform:rotate(5deg); 
	-moz-transform:rotate(5deg); 
	-o-transform:rotate(5deg); 
}
.menu ul li:hover { 
     height: 115%;
}
.menu ul li h3 { 
	overflow: auto;
	transition:all 0.5s, 0.5s ease-in-out; 
	-webkit-transition:all 0.5s, 0.5s ease-in-out; 
	-moz-transition:all 0.5s, 0.5s ease-in-out; 
	-o-transition:all 0.5s, 0.5s ease-in-out; 
}
.menu:hover ul li:hover h3 { 
    color:#000; 
	background: #000; 
	background: -moz-linear-gradient( top, #fea700, #e9ad39); 
	background: -o-linear-gradient( top, #fea700, #e9ad39); 
	background: -webkit-gradient(linear, left top, left bottom, from(#fea700), to(#e9ad39)); 
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fea700, endColorstr=#e9ad39);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#fea700, endColorstr=#e9ad39)"; 
	text-shadow: 0px 0px 9px #FF0; 
}
.menu ul li h3:hover { 
    cursor:pointer; 
}
#menu_nizh{
	padding-left: 500px;}	 
#menu_nizh ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
#menu_nizh ul li{
	float: left;
}
#menu_nizh ul li a, #menu_nizh ul  li a:visited {
	display: block;
	padding: 5px;
	margin-right: 10px;
	text-decoration: none;
	font: bold 12px Verdana;
	font-style: italic;
	color:#422c01;
}
#menu_nizh ul li a:hover {
	color: #fff;
	background-color: #fea700;
}
#menu_nizh ul li p {
	display: block;
	padding: 5px;
	margin-right: 10px;
	text-decoration: none;
	font: bold 12px Verdana;
	font-style: italic;
	color:#422c01;
}
#menu_nizh .selected p {
	color: #fff;
	background-color: #fea700;
}
* html #menu_nizh a {
	overflow-x: hidden;
}
#menu_nizh {
	padding-left: 480px;
	}
#streets{
    padding-top: 0;
	padding-left: 30px;
}
#info, #otdyh, #trn{ 
    padding-top: 0;
	padding-left: 10px;
}
#streets{
	padding-bottom: 15px;
}
*html #streets{
	padding-bottom: 5px;
}

#trn{
	padding-bottom: 205px;
}
*html #trn{
	padding-bottom: 189px;
}
#streets ul, #info ul, #otdyh ul, #trn ul { 
    margin:0;
    padding-top: 7px;
}

#streets ul li, #info ul li, #otdyh ul  li, #trn ul li  {
	list-style: none;
}
#streets ul li a, #info ul li a, #otdyh ul  li a, #trn ul li a{
   display: block;
   color: #422c01;
   height: 25px;
   text-decoration: none;
   font: 12px Verdana;
   font-style: italic;
   text-indent: 5px;
}
#streets ul li a:hover, #info ul li a:hover, #otdyh ul  li a:hover, #trn ul li a:hover {
	background: #fea700;
	color:white;
	text-decoration: none;
}
#streets ul li p, #info ul li p, #otdyh ul  li p, #trn ul li p{
   display: block;
   color: #422c01;
   height: 25px;
   text-decoration: none;
   font: 12px Verdana;
   font-style: italic;
   text-indent: 5px;
}
#streets .selected p, #info .selected p, #otdyh .selected p,#trn .selected p {
	color: #fff;
	background-color: #fea700;
}
* html #streets, * html #info, * html #otdyh, * html #trn {
	line-height: 0;
	width:100%;
}